body {
    background-color: lightblue;
  }
  
  h1 {
    color: rgb(255, 255, 255);
  }
  
  .center {
    text-align: center;
  }
  
  .fonte-verde {
    color: green
  }
   #para {
    font-family: verdana;
    font-size: 20px;
  }